form {
    padding: 15px 30px;
}

.editor-container {
    flex: 1;
    max-width: 600px;
    min-width: 400px;
    max-height: 90vh;
    padding: 10px;
    margin: 30px;
    background-color: #406954;
    border-radius: 10px;
    box-shadow: rgba(74, 141, 101, 0.12) 0px 1px 2px 0px, rgba(36, 86, 60, 0.32) 0px 2px 16px 0px;
    overflow-y: auto;
}

.editor-container::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 10px;
}

.editor-container::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
    background-color: #e4e4e439;
    border-radius: 100px;
}

.editor-container::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background-color: #f0f0f05b;
    border-radius: 100px;
}

.editor-heading {
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    color: #FFCB77;
    margin: 8px 0;
    padding-top: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

textarea,
input {
    font-family: 'Roboto', 'Calibri', 'Arial';
}

input[type="text"],
textarea {
    width: 100%;
    background-color: #456d58;
    outline: 0;
    border-radius: 2px;
    border-width: 0 0 2px;
    border-color: #74b995;
    color: #fbfbfb;
}

textarea {
    margin: 3px 0 0 0;
    resize: none;
    display: block;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d8d8d8;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d8d8d8;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d8d8d8;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #FFCB77;
}

textarea {
    height: 65px;
}

textarea::placeholder {
    transform: translateY(50px);
    font-family: inherit;
}

.education-entry,
.job-entry {
    padding-bottom: 20px;
}

.education-entry:has(+ .editor-heading) {
    padding-bottom: 10px;
}

.delete-button,
.add-button {
    margin-top: 5px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    border: none;
    outline: none;
}

.delete-button:focus,
.add-button:focus {
    outline: none;
}

.delete-button {
    background-color: rgba(38, 38, 38, 0.724);
    color: #fbfbfb;
}

.delete-button:hover {
    background-color: rgba(38, 38, 38, 0.868);
}

.add-button {
    background-color: rgba(234, 234, 234, 0.724);;
    color: #171717;
}

.add-button:hover {
    background-color: rgba(234, 234, 234, 0.83);
}

.add-button{
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    gap: 10px;
}

